@using Blog.Web
@model Blog.Web.Areas.Administration.Models.CategoryModel
<tr>
    <td>
        @Html.ActionLink(Model.Name + " (" + Model.NumberOfPosts + ")", "Index", "Home", new { area="", categoryId = Model.Id }, null)
    </td>
    @if (CustomRoles.IsUserInRole(CustomRoles.Administrator))
    {
        <td>
            @Model.CreationDateString
        </td>
        <td>
            @{
        string username = Model.Creator != null ? Model.Creator.DisplayName : string.Empty;
            }

            @username
        </td>
        <td>
            <a href="@Url.Action("DeleteCategory", new { categoryId = Model.Id })" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
            </a>
        </td>
    }
</tr>