@model Blog.Web.Models.Home.CommentModel

<h4>
    @Model.Header
    <small>@Model.CreationDateString, by <span class="section-colored">@Model.Creator.UserName</span></small>
</h4>
<p>@Model.Body</p>

