@using Blog.Web.Models
@using Blog.Web.Models.Home
@model List<Blog.Web.Models.Home.BlogEntryListItemModel>
@{
    ViewBag.Title = "Blog";
    ViewBag.Breadcrumbs = null;
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div>
                @{
                    foreach (BlogEntryListItemModel blogEntry in Model)
                    {
                        @*                    <div class="@(i==0?"well" : "well-sm")">*@
                        <div class="well">
                            @Html.Partial("_BlogPostListItem", blogEntry)
                        </div>
                    }
                }
            </div>
        </div>
        @Html.Action("_BlogSidebar")
    </div>
</div>
