@using Blog.Web.Areas.Administration.Models
@using Blog.Web.Models.Account
@model Blog.Web.Areas.Administration.Models.UserListModel

@{
    ViewBag.Title = "User Administration";
}
<div class="row">
    <table class="table table-hover table-striped table-bordered table-condensed table-responsive">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Display Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
        </tr>            
        @foreach (UserListItemModel user in Model.Users)
        {
            Html.RenderPartial("_UserListItem", user);
        }
    </table>
</div>