@{
    ViewBag.Title = "First Step Completed";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">Info</div>
            <div class="panel-body">
                A link was sent to your email-address. Please check your mails and click on that link in order to allot a new password.
            </div>
        </div>
    </div>
</div>