@using Blog.Web.Models.Shared
@model Blog.Web.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("ResetPasswordFirstStep", "Account", FormMethod.Post, new { @class = "" }))
        {
            @Html.CustomValidationSummary()
            <div>
                Please enter you e-mail adress. We will send you a link to reset your password.
            </div>
            @Html.TextBoxWithLabelFor(m => m.Email)
            <button>Submit</button>
        }
    </div>
</div>
