@model Blog.Web.Models.Account.ResetPasswordSecondStepModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("ResetPasswordSecondStep", "Account", FormMethod.Post, new {@class = ""}))
        {
            @Html.CustomValidationSummary()
            <div class="">
                Please enter your new password.
            </div>
            <br/>
            @Html.HiddenFor(m => m.Token)
            @Html.PasswordWithLabelFor(m => m.NewPassword)
            @Html.PasswordWithLabelFor(m => m.NewPasswordConfirmed)
            ;
            <button class="btn btn-primary">Submit</button>
        }
    </div>
</div>