@model Blog.Web.Models.Account.RegistrationValidationModel
@{
    ViewBag.Title = "Registration Validation";
}

<div class="row">
    <div class="col-lg-12">
        @if (Model.Success)
        {
            <div class="panel panel-info">
                <div class="panel-heading">Success</div>
                <div class="panel-body">
                    Congratulations! Your account was successfully activated.
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-danger">
                <div class="panel-heading">Error</div>
                <div class="panel-body">
                    @Html.CustomValidationSummary()
                </div>
            </div>
        }
    </div>
</div>


