body {
    background-color: #fff;
    color: #232323;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
}

header, footer, nav, section { display: block; }


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }


/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #fee;
    border: 1px solid #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

/*.required:after {
    content: "*";
}*/

/*.required{
    
   /*padding-right: 25px;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=);
   background-position: right top;!1!

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); 
    background-attachment: scroll; 
    cursor: auto; 
    background-position: 100% 50%; 
    background-repeat: no-repeat no-repeat;
}

#normalLink {
    color: blue;
    text-decoration: underline;
    /*padding: 10px;!1!
    padding-top: 10px;
    display: inline;
}*/

/**************Login Form*********************/

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox { margin-bottom: 10px; }

.form-signin .checkbox { font-weight: normal; }

.form-signin .form-control {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-signin .form-control:focus { z-index: 2; }

.form-signin input[type="text"] {
    -ms-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -ms-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    -ms-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -ms-border-top-right-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

/*****************Icon in Textbox*************************/

.left-inner-addon { position: relative; }

.left-inner-addon input { padding-left: 30px; }

.left-inner-addon i {
    padding: 10px 12px;
    pointer-events: none;
    position: absolute;
}

fieldset.scheduler-border {
    -webkit-box-shadow: 0 0 0 0 #000;
    border: 1px groove #ddd !important;
    -ms-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    margin: 0 0 1.5em 0 !important;
    padding: 0 3em;
    /*padding: 0 1.4em 1.4em 1.4em !important;*/
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}


/******************Pagination*******************************/
.pagination-wrapper {
    display: none;
}

/******************Navigation*******************************/
.blog-navbar-js {
    display: none;
}

.blog-navbar-nojs {
    display: block;
}


#editBlogentryTextarea {
    height: 210px
}