@model Blog.Web.Models.Blog.BlogEntryListItemModel

@{
    Layout = null;
}
<div class="row">
    <h1>
        <a href="blog-post.html">A Blog Home Template for Bootstrap 3</a>
    </h1>
    <p class="lead">
        by <a href="#">Start Bootstrap</a>
    </p>
    <hr>
    <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
    <hr>
    <a href="blog-post.html">
        <img src="http://placehold.it/900x300" class="img-responsive">
    </a>
    <hr>
    <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page.</p>
    <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>

    <hr>
</div>>