@model Blog.Web.Models.Shared.FooterModel

<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>@Model.FooterText</p>
            </div>
        </div>
    </footer>

</div>
@*<div class="row">*@
@*    <div class="col-lg-12">*@
@*        <div class="panel-footer">*@
@*            <hr>*@
@*            <footer>*@
@*                <div class="row">*@
@*                    <div class="col-lg-12">*@
@*                        <p></p>*@
@*                    </div>*@
@*                </div>*@
@*            </footer>*@
@*        </div>*@
@*    </div>*@
@*</div>*@