@model Blog.Web.Models.Home.CategoryModel
@using (Html.BeginForm("AddCategory", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.ValidationSummary("", new { @class = "validation-summary-errors" })
    <div class="container">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Name, new { @class = "" })
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control", @autofocus = true, @required="true" })
            </div>
            <button class="btn btn-primary">Create</button>
        </div>
    </div>
}