@model Blog.Web.Models.Shared.ErrorModel
@{
    ViewBag.Title = "Error404";
}

@*<!DOCTYPE html>*@
@*<html>*@
@*<head>*@
@*    <meta name="viewport" content="width=device-width" />*@
@*    <title>Error 404</title>*@
@*</head>*@
@*<body>*@
@*    <hgroup>*@
        <h2>An error occurred while processing your request. The requested page wasn't found</h2>
@*        @if (!string.IsNullOrEmpty(Model.ErrorMessage))*@
@*        {*@
@*            <h3>@Model.ErrorMessage</h3>*@
@*        }*@
@*    </hgroup>*@
@*</body>*@
@*</html>*@